
Services/chatgpt_service/venv/*
Services/service1/venv/*
Services/siperb_kb_service/venv/*
Services/chatgpt_service/secrets.txt
Services/siperb_kb_service/secrets.txt
.DS_Store
Website/.DS_Store
.DS_Store
*.txt

Services/service1/venv/*
Services/data_analyser_service/venv/*
Services/data_analyser_service/secrets.txt


Services/data_analyser_service/secrets.txt
/Services/data_analyser_service/venv
